USE [VideoGameStuff]
GO
/****** Object:  Table [dbo].[VideoGames]    Script Date: 2/24/2016 12:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VideoGames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Developer] [varchar](100) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_VideoGames] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
